$color-white: #FFF;
$color-black: #000;
$color-grey: #999999;
$color-dark-green: #011210;
$color-stroke: #738584;
$color-green: #0ABAB5;
$color-cadet-white: #F6FFFE;
$color-mid-green: #092120;
$color-transparent-white: rgba(255, 255, 255, 0.1);

$font-crimson-text: "Crimson Text";
$font-abc-diatype: "ABC Diatype";

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('nav', 'logo', 'aside', 'card', 'content');